# Chaque regle associe un motif de fichiers a des relecteurs OBLIGATOIRES. 
# La DERNIERE regle qui correspond l'emporte. 
# Par defaut, toute l'equipe 
*                       @damien-audignon
# Le code metier exige une relecture d'un developpeur backend 
/src/main/java/         @damien-audignon @noah-1112 
# Les fichiers d'infrastructure et de CI seront critiques a partir du Module 3 
/.github/workflows/     @damien-audignon
/pom.xml                @damien-audignon
